<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'pets')}">
<head>
    <meta charset="UTF-8">
    <title>Pet's List</title>
</head>
<body>
<!--/*@thymesVar id="pet" type="com.pedrocoelho.learningspringframework.model.Pet"*/-->
<h3 th:text="'Pets:'">Pets:</h3>
<table id="owners" class="table table-striped">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Birthday</th>
        <th>Type</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="pet:${pets}">
        <td th:text="${pet?.id}">123</td>
        <td th:text="${pet?.name}">Robin</td>
        <td th:text="${pet?.birthDay}"></td>
        <td th:text="${pet?.petType?.name}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>