<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pet's List</title>
</head>
<body>
<!--/*@thymesVar id="pet" type="com.pedrocoelho.learningspringframework.model.Pet"*/-->
<h1 th:text="'Pet Clinic'">Pet Clinic</h1>
<h5 th:text="'by Pedro Coelho'">by Pedro Coelho</h5>
<h3 th:text="'List of Pets'">List of Pets:</h3>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="pet:${pets}">
        <td th:text="${pet?.id}">123</td>
        <td th:text="${pet?.name}">Robin</td>
    </tr>
    </tbody>
</table>
</body>
</html>